{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [ "last 2 versions" ]
      }
    }],
    "stage-3"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", { "targets": { "node": "current" }}]
      ]
    }
  }
}
